<a href="https://colab.research.google.com/github/Manversajjad/Data_preparation/blob/main/DataCleaning%26Preparation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Cleansing and Preparation - Stub

---

In [4]:
import pandas as pd
import numpy as np
from numpy import nan as NA

## Data Sets

A **data set** is a collection of values, typically numeric or textual.

Each value belongs to an *observation* and a *variable*.
- An **observation** contains all variable values for a given unit of analysis
- A **variable** includes all measurements of that variable across the observations

Example: The observations are the games and the variables are the game name, platform, release year, etc.  

<center><img src="https://terpconnect.umd.edu/~jbono/bmgt404/notebook_images/data_cleansing_and_preparation_data_set.jpg" /></center>

## Data Tidying

Data often does not come in a form ready for analysis
 - Wrong format
 - Incorrect
 - Missing

Hadley Wickham defines data tidying as "structuring datasets to facilitate analysis" (primary goal of the course!)
The preparation of this data for analysis is also often called **data munging** or **data wrangling**.

Tidy Data exhibits the following structure:
- Each variable forms a column
- Each observation forms a row
- Each type of observational unit forms a table

## Missing Data

Most data sets will not come fully populated with complete information for each observation, either because the data does not exist, was not observed, or was not properly recorded.

Example of missing data represented:
- NA, N/A, Not Available, etc.
- Blank ('')
- Dashes (-, --)
- Explicit Value (e.g. blank, missing, unknown)

### Missing Data in Python

In Python, missing data is not necessarily equivalent to a False Boolean (e.g. 0 is False, but not missing)
- `None` (null)
- `np.nan` (not a number, sometimes aliased as NA)
- `pd.NaT` (empty datetime)

### Examples of Cleaning Activities to Address Missing Data

- Deleting (Filtering) observations with missing values
- Substituting (Imputing) reasonable values for missing values
- Deleting observations with bad values
- Substituting reasonable values for bad values
- Tossing Outliers (or choosing to keep them)
- Duplicating elimination (or determining they are valid)
- Dealing with inconsistent data
- ….More

### Filtering vs. Imputing Data

The primary tradeoff between filtering and imputing is filtering missing data could affect analysis power.

With Filtering:
- Filtering a small proportion is probably OK
- Filtering a large proportion may question the quality of the analysis

With Imputing
- Intentionally fabricating data!
- Within reason, can help preserve a sample size without significantly affecting the analysis

No right answer! Some purists say never filter data, and just mark what is missing. Always hold onto your original data!

### Pandas Methods for Missing Data in Series and DataFrame Objects

#### Methods

- `isnull()` – Returns True for each element that is equivalent to missing data. False otherwise
- `notnull()` – Returns True for each element that is not equivalent to missing data. False otherwise.
- `dropna()` – Filter missing observations
- `fillna()` – Impute missing data

All methods have an `inplace` argument to apply the method inplace, instead of creating a deep copy (default).

### Examples: Missing Data for Series Objects

#### Checking for null

In [2]:
ser1=pd.Series([4, 6, 8, np.nan, 34, np.nan])
ser1

0     4.0
1     6.0
2     8.0
3     NaN
4    34.0
5     NaN
dtype: float64

In [3]:
# For each value in the series, is it null or not?
ser1.isnull()

0    False
1    False
2    False
3     True
4    False
5     True
dtype: bool

#### Checking for not null

In [4]:
ser2=pd.Series([4, 6, 8, np.nan, 34, np.nan])
ser2

0     4.0
1     6.0
2     8.0
3     NaN
4    34.0
5     NaN
dtype: float64

In [5]:
# For each value in the series, is it not null or not?
ser2.notnull()

0     True
1     True
2     True
3    False
4     True
5    False
dtype: bool

#### Filtering Missing Values

##### by `dropna()`

In [6]:
ser3=pd.Series([4, 6, -8, np.nan, -4, np.nan, -10])
ser3

0     4.0
1     6.0
2    -8.0
3     NaN
4    -4.0
5     NaN
6   -10.0
dtype: float64

In [7]:
ser3.dropna()

0     4.0
1     6.0
2    -8.0
4    -4.0
6   -10.0
dtype: float64

In [8]:
# Note the original series data is unchanged
ser3

0     4.0
1     6.0
2    -8.0
3     NaN
4    -4.0
5     NaN
6   -10.0
dtype: float64

In [10]:
ser3.dropna(inplace=True)
ser3

0     4.0
1     6.0
2    -8.0
4    -4.0
6   -10.0
dtype: float64

##### by Boolean Indexing

In [11]:
ser4=pd.Series([4, 6, -8, np.nan, -4, np.nan, -10])
ser4

0     4.0
1     6.0
2    -8.0
3     NaN
4    -4.0
5     NaN
6   -10.0
dtype: float64

In [12]:
ser4.notnull()

0     True
1     True
2     True
3    False
4     True
5    False
6     True
dtype: bool

In [17]:
ser4[ser4.notnull()]

0     4.0
1     6.0
2    -8.0
4    -4.0
6   -10.0
dtype: float64

#### Impute Missing Values by Constant (e.g. Centrality Measure)

In [19]:
ser5=pd.Series([2, 4, -8, np.nan, -11, np.nan, -13])
ser5

0     2.0
1     4.0
2    -8.0
3     NaN
4   -11.0
5     NaN
6   -13.0
dtype: float64

In [20]:
ser5.fillna(ser5.mean(), inplace=True)
ser5

0     2.0
1     4.0
2    -8.0
3    -5.2
4   -11.0
5    -5.2
6   -13.0
dtype: float64

In [22]:
ser5

0     2.0
1     4.0
2    -8.0
3    -5.2
4   -11.0
5    -5.2
6   -13.0
dtype: float64

#### Impute Missing Values by Fill

Useful for time series data
- Forward fill (ffill) – Propagate non-null values forward
- Backward fill (bfill) – Propagate non-null values backward

##### Forward fill (ffill)

In [21]:
ser6=pd.Series([2, 4, -8, np.nan, -11, np.nan, -13])
ser6

0     2.0
1     4.0
2    -8.0
3     NaN
4   -11.0
5     NaN
6   -13.0
dtype: float64

In [24]:
ser6.fillna(method='ffill')

<ipython-input-24-52435b9bc6cd>:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  ser6.fillna(method='ffill')

0     2.0
1     4.0
2    -8.0
3    -8.0
4   -11.0
5   -11.0
6   -13.0
dtype: float64

##### Backward fill (bfill)

In [30]:
# ser6.fillna(method='bfill', inplace = True)

ser6.bfill(inplace=True)

In [31]:
ser6

0     2.0
1     4.0
2    -8.0
3   -11.0
4   -11.0
5   -13.0
6   -13.0
dtype: float64

## Practice Problems

Consider the following data sets meant to represent daily production output of a work week (Monday through Friday) recorded by a supervisor at a manufacturing facilitiy.

- Week 1: 48, 62, 79, 57, 58
- Week 2: Not recorded, 68, 71, 42, 41
- Week 3: 91, 87, Not recorded, 62, Not recorded

For each week:
1. List well-formatted output containing each day of the week and the production output for the day, or `NaN` if the production was not recorded. Hints: You should create three Series to do this. Additionally, try to avoid repetitive code and think programmatically.
2. For each week, list well-formatted output for only the days that contain recorded values?
3. For the weeks that are missing values, determine and execute an appropriate method to impute missing values. Justify your method.

The manufacturing facility gathered daily production output over a three week period for reporting purposes. The data gathered has been identified below.

In [2]:
# Input gathered data from the manufacturing facility
Weekdays = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']

week1 = pd.Series([48, 62, 79, 57, 58], index= Weekdays)

week2 = pd.Series([np.nan, 68, 71, 42, 41 ], index= Weekdays)

week3 = pd.Series([91, 87, np.nan, 62, np.nan], index= Weekdays)

total_week = [week1, week2, week3 ]
total_week

[Monday       48
 Tuesday      62
 Wednesday    79
 Thursday     57
 Friday       58
 dtype: int64,
 Monday        NaN
 Tuesday      68.0
 Wednesday    71.0
 Thursday     42.0
 Friday       41.0
 dtype: float64,
 Monday       91.0
 Tuesday      87.0
 Wednesday     NaN
 Thursday     62.0
 Friday        NaN
 dtype: float64]

The original data as recorded shows several missing values.

In [8]:
# Original data as recorded
curr_week = 1

for crt_week in total_week:
  print(f'**** Week{curr_week}  ****')
  print(crt_week[crt_week.notnull()], end='\n\n')
  curr_week +=1

**** Week1  ****
Monday       48
Tuesday      62
Wednesday    79
Thursday     57
Friday       58
dtype: int64

**** Week2  ****
Tuesday      68.0
Wednesday    71.0
Thursday     42.0
Friday       41.0
dtype: float64

**** Week3  ****
Monday      91.0
Tuesday     87.0
Thursday    62.0
dtype: float64

Some of the data gathered by the production facility was incomplete. Therefore, for further analysis, a few data points have been imputed using backward filling and forward filling.

In [12]:
# During Week 2, the data set is complete except for the first value. Attempt to backfill.
week2_imputation = week2.bfill(inplace=True)
week2_imputation

In [13]:
# During Week 3, the data set is complete except for a middle and last value. Attempt to forward fill.
week3_imputation = week3.ffill(inplace=True)
week3_imputation

In [14]:
total_week

[Monday       48
 Tuesday      62
 Wednesday    79
 Thursday     57
 Friday       58
 dtype: int64,
 Monday       68.0
 Tuesday      68.0
 Wednesday    71.0
 Thursday     42.0
 Friday       41.0
 dtype: float64,
 Monday       91.0
 Tuesday      87.0
 Wednesday    87.0
 Thursday     62.0
 Friday       62.0
 dtype: float64]

### Examples: Missing Data for DataFrame Objects

Missing data for DataFrames may be a bit more complex because you may want to process missing data based on a single-column or multiple columns.

In [5]:
df1 = pd.DataFrame([[np.nan, 6.5, 3], [1, np.nan, np.nan], [np.nan, np.nan, np.nan], [np.nan, 6.5, 3]])
df1

     0    1    2
0  NaN  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

#### Evaluate Missing Data Using Available Methods

In [6]:
df1.isnull()

       0      1      2
0   True  False  False
1  False   True   True
2   True   True   True
3   True  False  False

In [8]:
# Count all of the rows, by column (default axis=0)
df1.isnull().sum(axis=0)

0    3
1    2
2    2
dtype: int64

In [9]:
# Count all of the columns, by row
df1.isnull().sum(axis=1)

0    1
1    2
2    3
3    1
dtype: int64

#### Filtering Missing Values

##### by `dropna()`

In [ ]:
df1 = pd.DataFrame([[1, 6.5, 3], [1, 3, np.nan], [np.nan, 0, np.nan], [np.nan, 6.5, 3]])
df1

     0    1    2
0  1.0  6.5  3.0
1  1.0  3.0  NaN
2  NaN  0.0  NaN
3  NaN  6.5  3.0

In [ ]:
# Drop any rows with any missing values

In [ ]:
# Original DataFrame remains unchanged

In [ ]:
# Drop any columns with any missing values

In [ ]:
# Create new data frame for demonstration
df2 = pd.DataFrame([[1., 6.5, np.nan], [np.nan, np.nan, np.nan], [4, np.nan, np.nan], [2., 6.5, np.nan]])
df2

     0    1   2
0  1.0  6.5 NaN
1  NaN  NaN NaN
2  4.0  NaN NaN
3  2.0  6.5 NaN

In [ ]:
# Only drop rows with all missing values

In [ ]:
# Only drop columns with all missing values

In [ ]:
# The original DataFrame remains unchanged

In [ ]:
# Drop all rows that do not have at least 2 data points (i.e.non-NA values )

In [ ]:
# Drop all columns that do not have at least 2 data points (i.e. non-NA values)

##### by Boolean Indexing

In [ ]:
df1 = pd.DataFrame([[1, 6.5, 3], [1, np.nan, np.nan], [np.nan, np.nan, np.nan], [np.nan, 6.5, 3]])
df1

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

In [ ]:
# See if the values in column '0' are NaN to determine which rows to show (i.e. show the rows where there is a value in column '0')

In [ ]:
# The original DataFrame remains untouched

In [ ]:
# For each row, check if the values in both column '0' and column '1' are NaN

In [ ]:
# For each row, filter the data on rows where the values in both column '0' and column '1' are not NaN

In [ ]:
# For each column, check if the values in both row '0' and row '1' are NaN

In [ ]:
# For each column, filter the data on columns where the values in both row '0' and row '1' are not NA

## Practice Problems

Execute the following code which shows the sales for SmithKitchen, a local bakery.
<pre>
product_sales = pd.DataFrame({'Monday': [32, 152, 94, 0], 'Tuesday': [45, 109, 114, 0], \
                             'Wednesday': [15, 77, 85, 0], 'Thursday': [29, 85, 132, 0], \
                             'Friday': [63, 143, 101, 15], 'Saturday': [87, 211, 186, 25]}, \
                             index=['Cupcakes', 'Pie Slices', 'Brownies', 'Cookies'])
</pre>

Complete the following tasks:
1. For each day of the week, how many missing data points are there for the day?</li>
2. For each product, how many missing data points are there for the product?</li>
3. Wednesday does not have any data points. Make a reasonable inference to explain this situation. No code needed.</li>
4. Show the days of the week that have sold at least 3 different products.</li>
5. Which product(s) sold on Thursday and Friday?</li>

In [ ]:
product_sales = pd.DataFrame({'Monday': [np.nan, 152, 94, np.nan], 'Tuesday': [45, 109, 114, np.nan], \
                             'Wednesday': [np.nan, np.nan, np.nan, np.nan], 'Thursday': [29, 85, 132, np.nan], \
                             'Friday': [63, 143, 101, 15], 'Saturday': [87, 211, 186, 25]}, \
                             index=['Cupcakes', 'Pie Slices', 'Brownies', 'Cookies'])
product_sales

            Monday  Tuesday  Wednesday  Thursday  Friday  Saturday
Cupcakes       NaN     45.0        NaN      29.0      63        87
Pie Slices   152.0    109.0        NaN      85.0     143       211
Brownies      94.0    114.0        NaN     132.0     101       186
Cookies        NaN      NaN        NaN       NaN      15        25

In [ ]:
# Question 1

In [ ]:
# Question 2

In [ ]:
# Question 3
# The bakery is closed on Wednesdays.

In [ ]:
# Question 4

In [ ]:
# Question 5

#### Impute Missing Values

##### by Constant

In [ ]:
df1 = pd.DataFrame([[1, 6.5, 3], [1., np.nan, np.nan], [np.nan, np.nan, np.nan], [np.nan, 6.5, 3]])
df1

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

##### by Column

In [ ]:
df2 = pd.DataFrame([[1, 6.5, 3], [1., np.nan, np.nan], [np.nan, np.nan, np.nan], [np.nan, 6.5, 3]])
df2

     0    1    2
0  1.0  6.5  3.0
1  1.0  NaN  NaN
2  NaN  NaN  NaN
3  NaN  6.5  3.0

## Data Transformation

Data transformation is a general category of data processing that involves finding subsets, creating new variables (from existing variables), or modifying existing variables in some way. Already covered:
- Indexing and slicing
- Filtering (via boolean arrays)
- Arithmetic operations and comparisons
- Function application and mapping (.map, .apply, .applymap)
- Sorting and ranking

Other methods for transforming data:
- Identifying and removing duplicates
- Replacing values
- Renaming axis indexes
- Discretization and binning

### Identifying Duplicates

There are two options provided to process data with duplicate observations:
- The `.duplicated()` method returns a Boolean Series with True values that represent duplicate observations
- The `.drop_duplicates()` method filters duplicate observations from Series or DataFrame objects

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

#### Using the `duplicated()` Method

In [ ]:
# Check for all column-duplicates

In [ ]:
# Check for duplicates for a specific column

In [ ]:
# Original DataFrame remains untouched

#### Using the `drop_duplicates()` Method

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

In [ ]:
# Drop duplicates with an identical nickname, keeping only the last duplicate

In [ ]:
# Drop duplicates with an identical nickname, keeping only the first duplicate. Default for keep argument is 'first'

In [ ]:
# The original DataFrame remains intact

### Replacing Values

The `replace()` method is a more generic version of `fillna()`

#### Single Replacement

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

#### Multiple Replacement, Single Value

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

#### Case-By-Case Replacement Using a Dictionary

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

#### Replacing Values Using a Map

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

In [ ]:
# Map the Nickname column using a function. The function tries to find the key in the translation dictionary.
# If found, use the value in the dictionary pair. Else, use the key passed in.

In [ ]:
# The original DataFrame remains unchanged

### Renaming Axis Indexes

Similar to values in a Series or DataFrame, the indexes (row index and column names) can also be transformed:
- The row index can be transformed by assigning to the `.index` attribute
- The column index can be updated by assigning to the `.columns` attribute
- Alternatively, the `rename()` method can be used (inplace or not)

In [ ]:
df1 = pd.DataFrame([('Allen Iverson', 'The Answer'), ('Earvin Johnson', 'Magic'), ('Michael Jordan', 'Air Jordan'),
                    ('Rodney Hundley', 'Hot Rod'), ('John Williams', 'Hot Rod'),
                    ('George Gervin', 'Iceman'), ('Michael Jordan', 'Air Jordan'),
                    ('John Salley', 'Spider'), ('Jerry Sloan', 'Spider'),
                    ('Charles Barkley', 'The Chuckster')],
                   columns=['Player', 'Nickname'])
df1

            Player       Nickname
0    Allen Iverson     The Answer
1   Earvin Johnson          Magic
2   Michael Jordan     Air Jordan
3   Rodney Hundley        Hot Rod
4    John Williams        Hot Rod
5    George Gervin         Iceman
6   Michael Jordan     Air Jordan
7      John Salley         Spider
8      Jerry Sloan         Spider
9  Charles Barkley  The Chuckster

In [ ]:
# Change DataFrame index via assignment (Permanent)

In [ ]:
# Change DataFrame columns via assignment (Permanent)

In [ ]:
# Change DataFrame index and columns via rename (Not permanent unless inplace=True is used)

## Discretization and Binning

Sometimes, numerical data would benefit from being discretized into range-based categories:
- Age ranges
- Time/date ranges
- Tax income brackets
- Market capitalization
- Normal/abnormal psychology measurements

**Discretization** is a process of converting continuous data attribute values into a finite set of intervals with minimal loss of information (classification)

**Binning** is a process of placing values together/grouping them into "bins" or buckets.

Pandas offers two functions for discretizing numeric data:
- `.cut()` determines the ranges based on specific values (bin edges)
- `.qcut()` determines the ranges based on quantiles

### Example Using `.cut()`

Explore distribution of values for Year for top video games (after loading data from file)

In [ ]:
# Load data into a DataFrame

In [ ]:
# Explore distribution

In [ ]:
# Create linearly spaced bins

In [ ]:
# Bin the year values based on previously created bins

In [ ]:
# Summarize the frequency of bins

### Example Using `.qcut()`

Explore distribution of values for North American sales

In [ ]:
# Filter to only show North American video games that have had sales

In [ ]:
# Summarize frequency of quartile bins

In [ ]:
# Add labels to help explain quantiles to end users

## Practice Problems

Using the video games data set:

1. How many times are video game names repeated in the rankings? (Hint: Think about duplicates)
2. The publishers Nintendo and Activison have merged into a new company called Nintivision. Permanently address this in the data set.
3. Within the data set, classify the games into Old School (before 1990), New Wave (between 1990 and 2014) and Futuristic (after 2014).

An analysis of a video game data set has been requested by management to determine new video game creation opportunities.

### Data Evaluation and Processing

In [ ]:
# Check for duplicate video game names

In [ ]:
# Address the merging of the companies Nintendo and Activision into Nintivision

The games can be classified by their publication year to determine if the time period had an impact on increased sales.

In [ ]:
# Create labels and bins for each time period


#Classify each game based on its publication year

Sub Practice Problem

In [32]:
order_details = pd.Series([220, 115,  76, 292, 274, np.nan,  76, 339, 160,  np.nan, 138, 167, np.nan,161, np.nan, 238, 302, np.nan, 303, 226, np.nan, 113, np.nan, 343, 309, 240, 98, np.nan, np.nan, 263, 176, 259, 296,  65, 288, 229,  np.nan,  82, 224,171, np.nan, np.nan, 329,  70, 241, 135, 194, 279])
order_details

0     220.0
1     115.0
2      76.0
3     292.0
4     274.0
5       NaN
6      76.0
7     339.0
8     160.0
9       NaN
10    138.0
11    167.0
12      NaN
13    161.0
14      NaN
15    238.0
16    302.0
17      NaN
18    303.0
19    226.0
20      NaN
21    113.0
22      NaN
23    343.0
24    309.0
25    240.0
26     98.0
27      NaN
28      NaN
29    263.0
30    176.0
31    259.0
32    296.0
33     65.0
34    288.0
35    229.0
36      NaN
37     82.0
38    224.0
39    171.0
40      NaN
41      NaN
42    329.0
43     70.0
44    241.0
45    135.0
46    194.0
47    279.0
dtype: float64

In [34]:
# Find the percentage of missing values in the data.
missingValues_sum = order_details.isnull().sum()
missingValues_percent = (missingValues_sum) / len(order_details) * 100
missingValues_percent

25.0

Imputation
# New Section
After finding the percentage of missing values, you decide to replace each missing value with the number of orders received in the hour prior. What will be the average number of orders received after the imputation? (Rounded off to the nearest integer value)

In [40]:
# Approaching with bfill()
replace_value = order_details.ffill(inplace=True)

In [41]:
order_details

0     220.0
1     115.0
2      76.0
3     292.0
4     274.0
5      76.0
6      76.0
7     339.0
8     160.0
9     138.0
10    138.0
11    167.0
12    161.0
13    161.0
14    238.0
15    238.0
16    302.0
17    303.0
18    303.0
19    226.0
20    113.0
21    113.0
22    343.0
23    343.0
24    309.0
25    240.0
26     98.0
27    263.0
28    263.0
29    263.0
30    176.0
31    259.0
32    296.0
33     65.0
34    288.0
35    229.0
36     82.0
37     82.0
38    224.0
39    171.0
40    329.0
41    329.0
42    329.0
43     70.0
44    241.0
45    135.0
46    194.0
47    279.0
dtype: float64

In [44]:
# Average value after Imputation
avg_value_imputaion = order_details.mean()
avg_value_imputaion.round(2)

211.02